$sidebar-width: 200px;
$navbar-height: 50px;
$title-font-family: "Open Sans",sans-serif;

/* COLORS */
$main-background-color: #D9E0E6;
$main-text-color: #333333;
$secondary-background-color: #2E353D;
$secondary-text-color: #ABAEB1;
$accent-color: #00ACAC;
$header-background-color: #FFFFFF;