@import 'variables';

.sidebar {
  background-color: $secondary-background-color;
  box-sizing: border-box;
  color: $secondary-text-color;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  width: $sidebar-width;
  z-index: 1;
}

.sidebar-nav-list {
  padding: 12px 0;
  .sidebar-nav-item{
    padding: 6px 12px;
    margin: 6px 12px 6px 0;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    &:hover, &.selected {
      font-weight: bold;
      color: $main-text-color;
      background-color: $accent-color;
    }
    &:hover:not(.selected) {
      opacity: 40%;
    }
    a {
      color: inherit;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}