@import'checkbox'; 
@import 'variables';
@import 'sidebar';

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $main-background-color;
  font-family: $title-font-family;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.todo-list {
  padding-top: 12px;
  .todo-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-top: 1px solid;
  }
}

.card {
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  padding: 12px;
  border-radius: 10px;
}

.user-dropdown {
  border: none;
  font-size: 16px;
  position: absolute;
  right: 0;
}

.thin-text {
  font-weight: lighter;
}

.logo {
  background: linear-gradient(120deg, $header-background-color 0%, $accent-color 90%);
  border-radius: 50%;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.header {
  align-items: center;
  background-color: $header-background-color;
  box-sizing: border-box;
  display: flex;
  height: $navbar-height;
  left: 0;
  padding: 7px 12px;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

.page-container {
  height: calc(100% - #{$navbar-height});
  padding-top: $navbar-height;
  position: relative;
}

.main-page {
  box-sizing: border-box;
  color: $main-text-color;
  height: 100%;
  margin-left: $sidebar-width;
  padding: 12px;
  width: calc(100% - #{$sidebar-width});
}
